.control__switch {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.control__switch::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 100%;
  border-radius: var(--border-radius-xlg);
  background-color: var(--blue-100);
  transition: 300ms;
}

.control__switch[data-mode="lists"]::after {
  transform: translate(100%, 0);
}

.control__btn {
  flex-grow: 1;
  height: 40px;
  border-radius: var(--border-radius-xlg);
  z-index: 1;
  color: var(--white-100);
  cursor: pointer;
}

.control__btn:last-child {
  color: var(--black-100);
}

.control__switch[data-mode="lists"] .control__btn {
  color: var(--black-100);
}

.control__switch[data-mode="lists"] .control__btn:last-child {
  color: var(--white-100);
}
