.container {
  display: grid;
  height: 100%;
}

.main {
  padding: 24px 16px;
}

.space {
  display: none;
  background-color: var(--white-200);
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: 400px 1fr;
  }

  .space {
    padding: 24px;
    display: block;
  }
}
