.container {
  display: grid;
  height: 100%;
}

.main {
  padding: 24px 16px;
}

.space {
  display: none;
  background-color: var(--white-200);
}

@media (min-width: 1000px) {
  .container {
    align-items: flex-start;
    grid-template-columns: 400px 1fr;
  }

  .main{
    position: sticky;
    top: 0;
    max-height: 100%;
    overflow-y: auto;
  }

  .space {
    display: block;
    padding: 24px;
    height: 100%;
  }
}
